.table-view {
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-padding: 0;
    /* Esto hace que se quite el scrollbar horizontal si lo fueramos a necesitar quitar esta linea */
    -fx-hbar-policy: NEVER;
}

.modern-table .column-header {
    -fx-pref-height: 45px;
}

/* Cabecera de tabla */
.table-view .column-header-background {
    -fx-background-color: #3498db;
    -fx-background-radius: 8px 8px 0 0;
    -fx-background-insets: 0;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
    -fx-size: 45px;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: transparent;
}

.table-view .column-header .label {
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

/* Filas y celdas */
.table-row-cell {
    -fx-background-color: white;
    -fx-border-color: transparent transparent #f0f0f0 transparent;
    -fx-padding: 5px;
    -fx-cell-size: 45px;
}

.table-row-cell:selected {
    -fx-background-color: #e3f2fd;
    -fx-text-fill: #2c3e50;
}

.table-view .table-cell {
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
    -fx-padding: 10px 15px;
    -fx-text-fill: #2c3e50;
}

/* Scroll bar */
.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 12;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #bbbbbb;
    -fx-background-radius: 6;
}

/* Placeholder */
.table-view .placeholder .label {
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
    -fx-text-fill: #757575;
    -fx-font-style: italic;
}